{% extends 'files/index.html' %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--datesrc-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>


<h1 class="text-center mt-3">Search record</h1>
<div class="container">
    <form action="" method="post">
        <div class="row">
            {% csrf_token %}
            <div class="col-md-3">
                Name: <input type="text" name="name" id="name" class="form-control">
            </div>
            <div class="col-md-3">
                Phone: <input type="text" name="phone" id="phone" class="form-control">
            </div>
            <div class="col-md-3">
                Email: <input type="text" name="email" class="form-control">
            </div>
            <div class="col-md-3">
                Address: <input type="text" name="address" class="form-control">
            </div>
            <div class="col-md-3">
                Adhar: <input type="text" name="adhar" class="form-control">
            </div>
            <div class="col-md-9">
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <input type="submit" value="Search For Record" class="btn btn-success mt-2 w-100" style="font-weight: 700;">
            </div>
            <div class="col-md-3"></div>
        </div>
    </form>
</div>
<div class="container-fluid">
    <table id="example" class="table table-bordered border-dark table-hover mt-3" style="width:90%; margin: auto;">
        <thead>
            <tr class="table-dark">
            <tr>
                <th class="table-dark">ID</th>
                <th class="table-dark">Name</th>
                <th class="table-dark">Phone</th>
                <th class="table-dark">Email</th>
                <th class="table-dark">Address</th>
                <th class="table-dark">Adhar</th>
                <th class="table-dark">Date Entered</th>
            </tr>
            </tr>
        </thead>
        <tbody>
            <form action="{% url 'delrecview' %}" method="post">
                {% csrf_token %}
                {% for i in arr %}
                <tr>
                    <td><input type="checkbox" name="id" value="{{i.id}}">{{i.id}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.phone}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.address}}</td>
                    <td>{{i.adhar}}</td>
                    <td>{{i.datentime}}</td>
                </tr>
                {% endfor %}
                <div class="container mt-2">
                    <input type="submit" value="Delete" style="float: right; padding: 5px 50px 5px; background-color: red; color: white; font-weight: 700; border-radius: 10px; margin-bottom: 5px;">
                </div>
            </form>
        </tbody>
    </table>
</div>


<script>
    $(function () {
        var availableTags = [...new Set([
            '{% for i in undata.phone.all %}',
            "{{i.phone}}",
            '{% endfor %}',
            // "Python","JavaScript", "Jquery","DataScience"
        ])];
        $("#phone").autocomplete({
            source: availableTags,

        });
    });
</script>
{% endblock content %}

<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script> -->